{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col">
    <h1>A story about a tree</h1>
    <p>
      <div class="container">
        <div class="row">
            <div class="col">
               1 of 3
            </div>
            <div class="col">
               2 of 3
            </div>
            <div class="col">
               3 of 3
            </div>
        </div>
      </div>
      <div class="container-fluid">
        This is a full width container.
      </div>
      <div class="container">
          <div class="row">
              <div class="col col-md-6 col-lg-3">
                  1 of 4
              </div>
              <div class="col col-md-6 col-lg-3">
                  2 of 4
              </div>
              <div class="col col-md-6 col-lg-3">
                  3 of 4
              </div>
              <div class="col col-md-6 col-lg-3">
                  4 of 4
              </div>
          </div>
      </div>
    </p>
  </div>
</div>
{% endblock %}
